<!-- <table class="table table-striped table-bordered text-center mt-3">
  <thead>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>MOBILE</th>
    <th>QUALIFICATION</th>
  </thead>
  <tr>
    <td>{{ userProfileObj.name }}</td>
    <td>{{ userProfileObj.email }}</td>
    <td>{{ userProfileObj.mobile }}</td>
    <td>{{ userProfileObj.qualification }}</td>
  </tr>
</table> -->

<section>
  <div class="container">
    <div class="row">
      <!--Profile Card 3-->
      <div class="col-md-4 offset-md-4">
        <div class="card profile-card-3">
          <div class="background-block">
            <img
              src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
              alt="profile-sample1"
              class="background"
            />
          </div>
          <div class="profile-thumb-block">
            <input
              type="file"
              id="photo"
              name="photo"
              #photo
              (change)="profilephoto($event)"
              accept="image/*"
              ngModel
              class="d-none"
            />
            <img
              src="{{ userProfileObj?.photoURL }}"
              [alt]="userProfileObj.name"
              height="100"
              width="100"
              (click)="photo.click()"
              class="profile rounded-circle"
            />
          </div>
          <div class="card-content">
            <h2>
              {{ userProfileObj.name }}
              <small>{{ userProfileObj.qualification }}</small>
            </h2>
            <h5>{{ userProfileObj.mobile }}</h5>
            <h5>{{ userProfileObj.email }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-loading [show]="loading"></ngx-loading>
